# Byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.pth
.tox/
.venv
venv/
env/
.env/
.env
.venv/
.env.example
streamlit_UI/.env.example
agents/Archieve.py
logs/
.DS_Store
logs/backend_debug3.log
-e 
# Environment files
*.env
*.env.*
